<!DOCTYPE html>
<html lang="pt-BR" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:replace="base :: headCust">
<meta charset="utf-8">
<title>Vota Aí Previ</title>
</head>
<body>
	<div th:replace="base :: topo"></div>

	<div th:replace="base :: navlinks"></div>

	<div class="container-detalhe" th:if="${listaCargos}">
		<div>
			<div class="card-titulo-tela">
				<span class="titulo-tela">Cadastro de Cargo</span>
			</div>
			<div class="container-form-table">
				<form class="form-table">
					<table class="table-detalhe">
						<thead>
							<tr>
								<th width="800px">Cargo</th>								
								<th width="100px">Editar</th>
								<th width="100px">Excluir</th>
							</tr>
						</thead>

						<tbody>
							<tr th:each="cargo : ${listaCargos}">
								<td th:text="${cargo.nomeCargo}" width="800px"></td>
								<td width="100px"><a
									th:href="@{/editarCargo/{id}(id=${cargo.id})}">Editar</a></td>
								<td width="100px"><a
									th:href="@{/excluirCargo/{id}(id=${cargo.id})}">Excluir</a></td>
							</tr>
						</tbody>
					</table>
				</form>
			</div>
		</div>
	</div>

	<div class="mensagem" th:unless="${listaCargos}">
		<div>Nenhum cargo cadastrado</div>
	</div>


	<a class="btn btn-primary btn-success btn-cadastrar"
		href="/cadastrarCargo" role="button">Cadastrar Cargo</a>

	<div th:replace="base :: footer"></div>
</body>
</html>