<!DOCTYPE html>
<html lang="pt-BR" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:replace="base :: headCust">
<meta charset="utf-8">
<title>Vota Aí Previ</title>
</head>
<body>
	<div th:replace="base :: topo"></div>

	<div th:replace="base :: navlinks"></div>

	<div class="container-detalhe" th:if="${listaEleicoes}">
		<div>
			<div class="card-titulo-tela">
				<span class="titulo-tela">Cadastro de Eleições</span>
			</div>
			<div class="container-form-table">
				<form class="form-table">
					<table class="table-detalhe">
						<thead>
							<tr>
								<th width="600px">Eleição</th>
								<th width="100px">Inicio</th>
								<th width="100px">Fim</th>
								<th width="100px">Editar</th>
								<th width="100px">Excluir</th>
							</tr>
						</thead>

						<tbody>
							<tr th:each="eleicao : ${listaEleicoes}">
								<td th:text="${eleicao.nomeEleicao}" width="600px"></td>
								<td width="100px"
									th:text="${#temporals.format(eleicao.dataInicio, 'dd-MM-yyyy', new java.util.Locale('pt', 'BR'))}"></td>
								<td width="100px"
									th:text="${#temporals.format(eleicao.dataFim, 'dd-MM-yyyy', new java.util.Locale('pt', 'BR'))}"></td>
								<td width="100px"><a
									th:href="@{/editarEleicao/{id}(id=${eleicao.id})}">Editar</a></td>
								<td width="100px"><a
									th:href="@{/excluirEleicao/{id}(id=${eleicao.id})}">Excluir</a></td>
							</tr>
						</tbody>
					</table>
				</form>
			</div>
		</div>
	</div>

	<div class="mensagem" th:unless="${listaEleicoes}">
		<div>Nenhuma eleição cadastrada</div>
	</div>


	<a class="btn btn-primary btn-success btn-cadastrar"
		href="/cadastrarEleicao" role="button">Cadastrar Eleição</a>

	<div th:replace="base :: footer"></div>
</body>
</html>